@use "@/assets/sass/mixins" as *;

.left-section {
	@include sticky(tl, 10px, 10px);
	background-color: orange;
	width: 450px;
	padding: 10px;
	z-index: 1000;
	display: none;
	border-radius: 20px;
	box-shadow: 0 0 15px get(dimBlack);
	@include width(md) {
		display: block;
	}
	&.mobile {
		@include fixed(bl, 0, 0);
		top: initial;
		width: 100%;
		height: fit-content;
		display: block;
		border-radius: 20px 20px 0 0;
	}
	&:has(.close) {
		width: 10px;
		padding: 0;
		.heading h3,
		.locations {
			display: none;
		}
	}
	.open {
		left: 5px;
	}
	.close {
		left: -300px;
		overflow: hidden;
		opacity: 0;
	}
	.heading h3 {
		font-size: 30px;
		text-align: center;
		margin-block: 10px;
	}
	.close-options-icon {
		@include absolute(tr, 10px, 10px);
		font-size: 22px;
		font-weight: bold;
		text-align: end;
		cursor: pointer;
		@include width(md) {
			display: none;
		}
	}
	.locations {
		.menu-section {
			z-index: 2;
			p {
				font-weight: 500;
			}
			h3 {
				font-weight: normal;
				padding-block: 10px;
				border-bottom: get(border);
				&:hover {
					background-color: get(white-bg);
				}
			}
			.flex-between {
				padding: 10px;
			}
			.menu {
				top: 45px;
				h3:hover {
					background-color: #f3f3f3;
				}
			}
		}
	}
	.dates {
		@extend .locations;
		& > h3 {
			font-size: 22px;
			margin-block: 10px;
		}
		.menu-section {
			z-index: 1;
			.menu {
				width: fit-content;
				max-height: inherit;
				left: 0;
			}
		}
	}
	.options {
		& > h3 {
			font-size: 22px;
			margin-block: 10px;
		}
		.option {
			@include flex(space-between, stretch);
			padding-block: 5px;
			line-height: 2;
			input {
				width: 80px;
				text-align: center;
				padding-left: 10px;
			}
		}
	}
	.mybtn {
		width: 100%;
		font-size: 18px;
	}
}
