@use "@/assets/sass/mixins" as *;

.banner-section {
	padding: 20px;
	.banner {
		.flex-between {
			.title {
				font-size: 35px;
			}
		}
		.description {
			color: #666;
			line-height: 3;
		}
		.rate {
			color: get(primary);
			line-height: 2;
			letter-spacing: 1px;
		}
		.green {
			color: green;
			line-height: 2;
			font-weight: 500;
		}
	}
}
