@use "@/assets/sass/mixins" as *;

.widgets-section {
	@include grid(190px);
	margin: 50px 20px 0;
	gap: 20px;
	@include width(sm) {
		@include grid(250px);
	}
	.widget {
		@include flex(flex-end, flex-start);
		background: linear-gradient(rgba(black, 0.2), rgba(black, 0.5));
		min-height: 300px;
		width: 100%;
		position: relative;
		overflow: hidden;
		cursor: pointer;
		border-radius: 20px;
		flex-direction: column;
		&:hover {
			background: transparent;
		}
		img {
			position: absolute;
			inset: unset;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: -1;
		}
		h1 {
			color: get(white);
			padding: 10px;
			font-size: 30px;
			-webkit-text-stroke: 2px black;
			@include width(lg) {
				font-size: 40px;
			}
		}
		h3 {
			@extend h1;
			font-size: 22px;
			@include width(lg) {
				font-size: 25px;
			}
		}
	}
}
