@use "@/assets/sass/mixins" as *;

.features-section {
	padding: 20px;
	h1 {
		font-size: 22px;
		@include width(sm) {
			font-size: 24px;
		}
	}
	.features {
		@include grid(200px);
		gap: 20px;
		@include width(sm) {
			@include grid(250px);
		}
		.feature {
			position: relative;
			img {
				width: 100%;
				min-height: initial;
				object-fit: cover;
				@include width(sm) {
					min-height: 400px;
				}
				@include width(md) {
					min-height: 400px;
				}
			}
			p {
				margin-block: 10px;
			}
			.rate {
				@include flex(flex-start, center);
				gap: 20px;
				white-space: nowrap;
				span {
					@include absolute(tr, 10px, 10px);
					background-color: get(primary);
					color: white;
					padding: 3px 5px;
					font-weight: bold;
					@include width(md) {
						position: initial;
					}
				}
				p {
					display: none;
					@include width(md) {
						display: initial;
					}
				}
			}
		}
	}
}
