@use "../../scss/helpers/mixins" as *;

.data-table {
	height: 650px !important;
	padding: 20px;
	margin-bottom: 60px;
	.btns-container {
		margin-bottom: 10px;
		.table-header {
			color: get(main-color);
			padding: 1rem 2rem;
			font-size: 2.8rem;
			@include width(sm) {
				font-size: 1.5rem;
				padding-inline: 0;
			}
		}
		.new-btn {
			background-color: get(main-color);
			color: black;
			height: fit-content;
			padding: 10px 20px;
			font-size: 1.8rem;
			font-weight: bold;
			border-radius: 5px;
			&:hover {
				background: get(second-color);
			}
		}
		.btn {
			margin-top: 10px;
			&.view {
				color: #9c27b0;
				padding: 9px 20px;
				border: 1px solid #9c27b0;
			}
			@include width(sm) {
				font-size: 1.2rem !important;
				padding: 5px 10px;
			}
		}
	}
	.table {
		background-color: get(mode-bg);
		::-webkit-scrollbar {
			height: 5px;
		}
		.MuiDataGrid-columnHeadersInner {
			color: get(dark-text);
			font-weight: bold;
		}
		.MuiSvgIcon-root {
			font-size: 2rem;
			&[data-testid="CheckBoxOutlineBlankIcon"] {
				color: get(main-color);
			}
			&[data-testid="IndeterminateCheckBoxIcon"] {
				color: get(main-color);
			}
			&[data-testid="CheckBoxIcon"] {
				color: get(main-color);
			}
		}
		.MuiDataGrid-row {
			&:hover {
				box-shadow: 2px 4px 10px 1px get(light-bg);
			}
			.MuiDataGrid-cell {
				color: get(light-text);
				cursor: pointer;
				.MuiDataGrid-cellContent {
					color: get(light-text);
				}
				img {
					width: 40px;
					height: 40px;
					margin-right: 10px;
					border-radius: 50%;
				}
				.status-type {
					padding: 5px 10px;
					border-radius: 7px;
					&.Active {
						background: rgba(0, 128, 0, 0.2);
						color: rgb(0, 128, 0);
					}
					&.Pending {
						background: rgba(218, 165, 32, 0.2);
						color: rgb(218, 165, 32);
					}
					&.Approved {
						background: rgba(255, 0, 0, 0.2);
						color: rgb(255, 0, 0);
					}
				}
				.actions-btns {
					gap: 1rem;
					.btn {
						font-size: 1.5rem;
						opacity: 0.8;
					}
				}
			}
		}
		.MuiTablePagination-actions {
			.MuiButtonBase-root {
				background-color: get(main-color);
				color: black;
				width: 30px;
				height: 30px;
				margin-right: 15px;
				svg {
					font-size: 4rem !important;
				}
			}
		}
		.MuiTablePagination-displayedRows {
			color: get(dark-text);
			font-size: 1.8rem;
		}
	}
}
