:root {
	--primary: #003580;
	--secondary: #0c597f;
	--white: #fff;
	--dimWhite: #263238;
	--white-bg: #f8f8f8;
	--black: #000;
	--dimBlack: #171d21;
	--black-bg: #171d21;
	--black-mode: #f8f8f8;
	--border: 1px solid var(--dimWhite);
	--shadow: 5px 5px 15px var(--black);
}
