:root {
	--primary: #edf2f8;
	--secondary: #313bac;

	--white: #fff;
	--black: #000;

	--dimWhite: #6b7688; // gray
	--dimBlack: #030303; // black

	--lightWhite: #e4e4e4; // light gray
	--lightBlack: #46364a; // brown

	--base-font: "DM Sans", "Poppins", "El Messiri", sans-serif;

	--border: 1px solid var(--dimWhite);
	--shadow: 5px 5px 15px #e3e3e3;
}
