.box {
	width: 100%;
	max-width: 200px;
	border-right: 1px solid #3f3f3f;
	padding-left: 10px;
	&.close {
		width: fit-content;
	}
	.sidebar {
		.category-btn {
			color: white;
			white-space: nowrap;
			&.selected {
				background-color: #fc1503;
			}
			.name {
				color: #bbb;
				margin-left: 10px;
				&.selected {
					color: white;
					font-weight: bold;
				}
				&.hidden {
					display: none;
				}
			}
		}
	}
}
